@charset "ISO-8859-1";

#NogurTitle  {
    text-align: center;
    margin: 20px;
}

table {
    margin: auto;
    border-style: none;
    background: #ebf6f9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

th {
    color: #3399ff;
    border: solid;
    border-color: #b3d9ff;
    padding: 3px;
    
}

td {
    background: white;
    border: hidden;
    border-width: 2px;
}

#idHeader {
    border-top-left-radius: 5px;
}

#userNameHeader {
    border-top-right-radius: 5px;
}