@charset "ISO-8859-1";

h1{
    margin-top:90px;
}

#NogurTitle  {
    text-align: center;
}

table {
    margin: auto;
    border-style: none;
    background: #ebf6f9;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

th {
    color: #3399ff;
    border: solid;
    border-color: #b3d9ff;
    padding: 3px;
    
}

td {
    background: white;
    border: hidden;
    border-width: 2px;
}

#idHeader {
    border-top-left-radius: 13px;
}

#userNameHeader {
    border-top-right-radius: 13px;
}

#uploadButton {
    color: white;
	background: #008CFF;
    border: outset;
	border-color: #7094db;
	padding: 10px;
	border-radius: 20px;
    text-decoration: none;
	font-weight: bold;
    position: absolute;
    right: 3%;
    top: 7%;
}

#uploadButton:hover {
	background: #4dafff;
}