@charset "ISO-8859-1";

h1 {
	text-align: center;
	margin-bottom: 0px;
	margin-top:10%;
	
}
form { 
  text-align: center;
}

input {
	margin: 3px;
}

#userName {
	margin-top: 0px;
	margin-bottom: 10px;
}

#imageName{
	margin-bottom: 20px;
}

#submit {
  color: white;
	background: #008CFF;
  border: outset;
	border-color: #7094db;
	padding: 10px;
	border-radius: 20px;
  text-decoration: none;
	font-weight: bold;
}

#submit:hover {
	background: #4dafff;
}